@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

body{
font-family: 'Bangers', cursive;
}

#choix ul li, #reponse ul li {
    display: inline-block;
    margin: 10px;
}

.disabled {
    opacity: 0.3;
}

.grid{
    display: grid;
    grid-template-rows: 50px 300px 50px 1fr;
    grid-template-columns: 1fr;
}

#reponse {
    text-align: center;
    grid-row: 3;
    grid-column: 1;
    align-items: center;
}

#score {
    text-align: center;
    grid-row: 2;
    grid-column: 1;
    transition: 1s ease;
    position: relative;
    top: 25px;
    align-items: center;

}

#choix {
    text-align: center;
    grid-row: 4;
    grid-column: 1;
    align-items: center;

}

#titre{
    text-align: center;
    grid-row: 1;
    grid-column: 1;
    align-items: center;

}